
* {

  margin:0;
}

body {
margin: 20px 30px;
}

h1 {
color:red;
text-align: center;
}

h2 {
color: blue;
text-align: center;

}

.info {
border:1px solid silver;
margin-bottom: 12px;
padding-left: 20px;
padding-right: 20px;
flex-basis: 300px;
margin-left:20px;
}

.info img {

  width:100%;
}

main {
  /* border:1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
